<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
	<select id="getEmployeeById" resultType="com.example.demo.vo.Employee">
		select
			employee_id as id
			, first_name 		as firstName
			, last_name 		as lastName
			, email
			, phone_number 		as phoneNumber
			, hire_date 		as hireDate
			, job_id 			as jobId
			, salary
			, commission_pct	as commissionPct
			, manager_id		as managerId
			, department_id		as departmentId
		from
			employees
		where employee_id = #{id}
	</select>
	
	<!-- 
		List<Employee> getAllEmployees(@Param("deptId") int deptId);
			* deptId가 0인 경우 전체 조회다.
			* deptId가 0이 아닌 경우 deptId에 해당하는 부서에 소속된 사원을 조회한다.
	 -->
	<select id="getAllEmployees" resultType="com.example.demo.vo.Employee">
		select
			employee_id as id
			, first_name 		as firstName
			, last_name 		as lastName
			, hire_date 		as hireDate
			, job_id 			as jobId
		from
			employees
			<where>
				<if test="deptId != 0">
					department_id = #{deptId}
				</if>
			</where>
			order by
				employee_id asc
	</select>
	<!-- 
		void insertEmployee(@Param("emp") Employee employee);
	 -->
	<insert id="insertEmployee">
		insert into employees
		(
			employee_id
			, first_name
			, last_name
			, email
			, phone_number
			, hire_date
			, job_id
			, salary
			<if test="emp.commissionPct > 0">
				, commission_pct
			</if>
			<if test="emp.managerId != 0">
				, manager_id
			</if>
			<if test="emp.departmentId != 0">
				, department_id
			</if>
		)
		values
		(
			employees_seq.nextval
			, #{emp.firstName}
			, #{emp.lastName}
			, #{emp.email}
			, #{emp.phoneNumber}
			, #{emp.hireDate}
			, #{emp.jobId}
			, #{emp.salary}
			<if test="emp.commissionPct > 0">
				, #{commission_pct}
			</if>
			<if test="emp.managerId != 0">
				, #{manager_id}
			</if>
			<if test="emp.departmentId != 0">
				, #{department_id}
			</if>
		)
	</insert>
</mapper>